/*-----------
 google font styling
 ------------ */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* --------------
banner styling 
----------------*/
.banner-section{background-color: #2D25A0;
}
.banner{
    display: flex;
    padding: 5%;
}

.banner-half{
    width: 50%;
    padding-left:2.5%;
}
.banner img{
    width: 100%;}

.banner img:hover{
    transform: rotate(-30deg);
    transition: transform 1s ease-in-out 0.2s;
}
.banner h1{
    font-size: 60px;
    color: white;
}
.button {
text-decoration: none;
background-color: #E02C6D;
padding: 10px 40px;
color: white;
font-weight: 500;
font-size: 20px;
}
.button:hover{background-color: cornflowerblue;
}
/* ------------
Players section stying 
------------------*/
.players-section{
    margin: auto;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:0px;
}
.player img{
    width:280px;
    height: 220px;
}
.player{
    box-shadow: 5px 5px 20px gainsboro;
    margin: 2.5% 2.5% 2.5% 2.5%;
    padding: 8%;}

.player h3{
    font-size: 25px;
}
.player p{
    font-size: 17px;
}
/*---------- 
highlight section styling
------------- */
.highlight{
    display: flex;
    padding: 6%;
}
.high-half{
    width: 50%;
    padding-left: 5%;
}
.high-half img{
    width: 100%;
}
.high-half h2{
    font-size: 40px;
    margin-bottom: 0px;
}
.high-half p{
    font-size: 17px;
}
/* ------------
video section styling 
--------------------*/
.vedio-secton{
    margin: auto;
    width: 100%;
    margin-bottom: 15px;
}
.video-text{
    margin: auto;
    text-align: center;
     width: 50%;
    }
.video-text h2{
    font-size: 40px;
}

.vedios{
    display: flex;
    justify-content: center;
}
.vedio{
    width: 50%;
    padding: 5%;
}
.vedio iframe{
    width: 100%;
    border-radius: 30px;
}

/* -----------------
footer section styling 
---------------------*/
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 350px;
    height: 150px;
}
.social img{
    width: 40px;
    height: 40px;
}
.copyright p{
    font-size: 15px;
}
/* Making responsive using media */
/*-------------
 mobile devices
 ----------------- */
    @media only screen and (max-width: 480px) { 
    .players{
        grid-template-columns: repeat(1,1fr);}
    .player, .banner, .vedios, .highlight {flex-direction: column;
  }
  .banner-half, .high-half, .video{
      width: 100%;
  }
  .banner img{
      padding-top: 15px;
  }
  }
  .high-half img{
      padding-top: 15px;
  }
}
  
  /*-------------
 Tablet devices
 ----------------- */  
 @media only screen and (min-width: 481px) and (max-width:600px){
    .players{
        grid-template-columns: repeat(2,1fr);}
    .player{flex-direction: column;
  align-items: center;
  }
 }